@media only screen and (min-width: 1028px) {
    nav button {
        display: none;
    }

    nav {
        grid-column: 3;

    }

    nav ul {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }

    nav ul li a {
        padding: 0.5rem 1rem;
    }

    nav ul {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        margin-top: 0.1em;
        padding: 0;
    }

    nav #nav-list {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid black;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid black;
    }

    nav a:hover {
        --d: 75%;
    }

    .social {
        grid-column: 4;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 0px;
        padding: 20px;
        margin: 20px 5px 60px 5px;
        font-size: .7rem;
        column-gap: 4px;

    }

    main .hero {

        grid-row: span 2;
        grid-column: 2/3;
    }


    main .news-release {
        grid-row: 3;
        grid-column: 2/3;
        margin-top: 50px;
    }

    main #spotlight-section {
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 12px;
        grid-column: 3;
        grid-row: span 3;

    }

    #spotlight-section {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        margin: 10px 5px 0px 5px;


    }

    #spotlight-section .spotlight1 {
        margin: 15px 20px 10px 20px;
        grid-row: 1;
        grid-column: 1/3;
    }

    #spotlight-section .spotlight1 img {
        width: 70%;
        height: 50%;
    }

    #spotlight-section .spotlight2 {
        margin: 0px 20px 10px 20px;
        grid-row: 2;
        grid-column: 1/3;
    }

    #spotlight-section .spotlight2 img {
        width: 70%;
        height: 50%;
    }

    #spotlight-section .spotlight3 {
        margin: 0px 20px 10px 20px;
        display: block;
        grid-row: 3;
        grid-column: 1/3;
    }

    main .join {
        grid-row: 3;
        grid-column: 1/2;
    }

    main .event {
        grid-row: 1;
        grid-row: 1/2;
    }

    main .weather {
        grid-row: 2;
        grid-column: 1/2;
    }




    .footer1 {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        align-items: center;
    }

    .footer1 img {
        grid-column: 1;
    }

    .footer1 .footer-name {
        grid-row: 1;

        grid-column: 0.8/4;

    }

}