@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Rock+Salt&display=swap');

/* header */
.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header a img {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}





nav ul {

    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #82b04d;
}

nav button {
    background-color: transparent;
    border: none;
    margin: .2rem 2vw;
    font-size: 2rem;
    color: black;
}

nav ul li a {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 2.95rem;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: white;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgeer-button span:nth-child(1) {
    display: block;
}

#hamburger-button span:nth-child(2) {
    display: none;
}

#hamburger-button.open span:nth-child(1) {
    display: none;
}

#hamburger-button.open span:nth-child(2) {
    display: block;
}

main {
    margin-left: 20%;
    margin-right: 20%;

}

footer {
    background-color: #82b04d;
    text-align: center;
    margin: 0;
    padding: auto;
}

.main-hero img {
    width: 100%
}

.main-hero {
    position: relative;

}

#hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
}

.area-info {
    padding: 20px;
    background-color: white;
    border: 2px solid #daf373;
    word-wrap: break-word;
}

.area-info section {
    background-color: #daf373;
    border: 1px solid orange;

}

.fruits-images {
    display: flex;
    justify-content: center;
}

.logo-footer,
.social-img {
    max-width: 90px;
}

iframe {
    width: 350px;
}

/*fonts*/
main p {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
}

h1 {
    font-size: 3em;
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Rock Salt', Helvetica, sans-serif;
}

p {
    font-family: 'Kurale', 'Times New Roman', Times, serif;
}