body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

section {
    border: 1px solid white;
    margin: 20px 10px 80px 10px;
    padding: 10px;
    width: 360px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: black;
    box-shadow: 1px 1px 15px 4px rgb(0, 0, 0);
    ;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    border: 1px solid white;
    box-shadow: 2px 2px 6px 2px rgb(255, 255, 255);
    ;
}

h1 {
    margin: 0;
}

h2 {
    text-align: center;
    margin: 10px;
}

p {
    text-align: center;
    font-family: 'Times New Roman', serif;
    margin-block-start: .5em;
    margin-block-end: .5em;


}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

@media screen and (min-width:1020px) {

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    section {
        padding: 10px 45px;
    }


}